---
layout: default
title: Bonuses
---

<a name="top"></a>
<h2>Bonuses appearing on equipment</h2>

<p>A list of <span class="uni">Unique Items</span>, <span class="set">Set Items</span>, <span class="run">Runewords</span> and
<span class="gem">Runes</span> grouped by magic properties.</p>

<p>The items are sorted on the value of the bonus, in descending order (from highest to lowest).</p>

<p>See the Arreat Summit website for <a href="http://classic.battle.net/diablo2exp/items/magic.shtml#sma">a description of the magic properties</a>.</p>

<p>
#header

<p>
#mainlist

