<html>
<head>
	<title>The Tankazon Resource</title>
	<meta name="description" content="Game guide for Diablo II Lord of Destruction, Tankazon, Spearazon & Javazon characters." />
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
<a name="top"></a>
<h2>Bonuses appearing on equipment</h2>

<p>A list of <span class="uni">Unique Items</span>, <span class="set">Set Items</span>, <span class="run">Runewords</span> and
<span class="gem">Runes</span> grouped by magic properties. <strong style="color:#8D8">Updated for D2 LoD v1.13!</strong></p>

<p>The items are sorted on the value of the bonus, in descending order (from highest to lowest).</p>

<p>See the Arreat Summit website for <a href="http://classic.battle.net/diablo2exp/items/magic.shtml#sma">a description of the magic properties</a>.</p>

<p>
#header

<p>
#mainlist

</body>
</html>
