---
layout: default
title: Super Unique Monsters
---

## Super Unique Monsters

The following table lists levels & treasure classes for Super Unique monsters. Read more about [item generation](http://diablo2.diablowiki.net/Item_Generation_Tutorial) and [Treasure Classes](http://diablo.gamepedia.com/Treasure_Classes_(Diablo_II)).

Note : Since patch <em class="v">1.10</em> the level of Super Uniques, Uniques and their minions in Nightmare and Hell difficulties is based on the area level (area level + 3).

<table id="tsu" BORDER="0" CELLSPACING="0" CELLPADDING="4">
<colgroup>
	<col align="left">
	<col align="left">
	<col align="middle" width="50">
	<col align="middle" width="50">
	<col align="middle" width="50">
	<col align="middle">
	<col align="middle">
</colgroup>

<tr class="head">
<td>Super Unique</td>
<td>Monster Type</td>
<td>Normal</td>
<td>Nightmare</td>
<td>Hell</td>
<td>Location</td>
<td>Treasure</td>
</tr>

<tr><td>#superlist</td></tr>

</table>

