---
layout: default
title: Area Levels & Experience
---

<style type="text/css">
  .L83 { color:#4c4; }
  .L84 { color:#c00; }
	.L85 { color:red; font-weight:bold; }
</style>

<p>
<span class="L85">RED</span> : those are level 84 and 85 areas. Unique monsters in those areas can drop from the highest Treasure Class (TC 87). Level 85 areas are slightly better as Champions will also drop from TC 87.<br/>
<br/>
Champion monsters in those areas will be level 87, and Unique monsters will be level 88.
This means that Champion and Unique monsters in those areas will be able to drop all Unique and Set items with no exceptions (TC 87).
</p>

<p>
<span class="L83">GREEN</span> : level 83+ areas will have level 85+ Champions and level 86+ Unique monsters, able to drop all items <em>except</em> the last Treasure Class, TC 87.</p>


<table class="tr-Table">
<colgroup>
	<col align="left">
	<col align="center">
	<col align="center">
	<col align="center">
</colgroup>
<thead><tr class="head"><td>Map</td><td width=50>Normal</td><td width=50>Nightmare</td><td width=50>Hell</td></tr></thead>
<tr><td><a href="javascript:showmap('xxx')">#maptable</a></td><td>14</td><td>43</td><td>75</td></tr>
</table>

