<!-- sidebar -->

<h2>Home</h2>
<ul>
  <li><a {% if page.url == '/' %}class="active"{% endif %} href="{{ site.baseurl }}/">About</a></li>
  <li><a {% if page.url == '/runewizard/' %}class="active"{% endif %} href="{{ site.baseurl }}/runewizard/">Runewizard</a></li>
  <li><a {% if page.url == '/wiki/itemswith' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/itemswith">Item Bonuses</a></li>
</ul>

<h2>Strategy</h2>
<ul>
  <li><a {% if page.url == '/wiki/valkyrie' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/valkyrie">Valkyrie</a></li>
  <li><a {% if page.url == '/wiki/experience' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/experience">Experience</a></li>
  <li><a {% if page.url == '/wiki/super-uniques' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/super-uniques">Super Uniques</a></li>
</ul>

<h2>Weapons</h2>
<ul>
  <li><a {% if page.url == '/wiki/weapon_1hs' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_1hs.html">1H Slash</a></li>
  <li><a {% if page.url == '/wiki/weapon_2hs' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_2hs.html">2H Slash</a></li>
  <li><a {% if page.url == '/wiki/weapon_1ht' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_1ht.html">1H Thrust</a></li>
  <li><a {% if page.url == '/wiki/weapon_2ht' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_2ht.html">2H Thrust</a></li>
  <li><a {% if page.url == '/wiki/weapon_bow' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_bow.html">Bows</a></li>
  <li><a {% if page.url == '/wiki/weapon_xbw' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/weapon_xbw.html">Crossbows</a></li>
</ul>

<!-- /sidebar -->
