<!-- sidebar -->

<h2>Home</h2>
<ul>
  <li><a {% if page.url == '/wiki/itemswith.html' %}class="active"{% endif %} href="{{ site.baseurl }}/wiki/itemswith.html">Item Bonuses</a></li>
  <li><a {% if page.url == '/runewizard/index.html' %}class="active"{% endif %} href="{{ site.baseurl }}/runewizard/index.html">Runewizard</a></li>
</ul>

<h2>Strategy</h2>
<ul>
  <li><a href="{{ site.baseurl }}/wiki/valkyrie.html">Valkyrie</a></li>
</ul>

<h2>Weapons</h2>
<ul>
  <li><a href="{{ site.baseurl }}/wiki/weapon_1hs.html">1H Slash</a></li>
  <li><a href="{{ site.baseurl }}/wiki/weapon_2hs.html">2H Slash</a></li>
  <li><a href="{{ site.baseurl }}/wiki/weapon_1ht.html">1H Thrust</a></li>
  <li><a href="{{ site.baseurl }}/wiki/weapon_2ht.html">2H Thrust</a></li>
  <li><a href="{{ site.baseurl }}/wiki/weapon_bow.html">Bows</a></li>
  <li><a href="{{ site.baseurl }}/wiki/weapon_xbw.html">Crossbows</a></li>
</ul>

<!-- /sidebar -->
